<!DOCTYPE html>
<html lang="en">

  <head>
      <%= render 'layouts/head' %>
      <meta charset="utf-8" />
      <link rel="apple-touch-icon" sizes="76x76" href="../images/apple-icon.png">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  </head>

  <body>
      <div class="wrapper">
          <div class="sidebar" data-image="<%= image_url('sidebar-5.jpg') %>">
            <%= render 'layouts/sidebar' %>
          </div>
          <div class="main-panel">
            <%= render 'layouts/main_header' %>

              <div class="content">
                  <div class="container-fluid">
                    <%= yield %>
                  </div>
              </div>
              <%= render 'layouts/footer' %>
          </div>
      </div>
  </body>
</html>
